// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

/* variables */

@colors: black;
@grays: rgb(233, 223, 223);

/* mixins*/

.flex-justify(@display: flex, @justify: space-between) {
	display: @display;
	justify-content: @justify;
}

.col-nowrap {
	display: flex;
	flex-flow: column nowrap;
}

html, .container .about {
	height: 100%;
	background-color: #848482;
	max-width: 1200px;
	padding: 1%;
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;

	@media (max-width: 500px) {
		margin: 0% 2%;
	}

	header {
		width: 100%;
		padding: 2% 12.5%;
		display: flex;
		flex-flow: column nowrap;
		border: 1px darkmagenta solid;
		margin: 0 auto;
		background: @grays;
		

		.img {
			margin: 0 auto;
		}

			img {
				max-width: 200px;
				max-height: 200px;
				border-radius: 100%;
				padding: 2%;
			}

		nav {
			width: 100%;
			.flex-justify();
			
			@media (max-width: 500px) {
				width: 100%;
			}
	
			a {
				text-decoration: none;
				color: @colors;
				padding: 20px;
				
				
			}
		}
	}


	body {
		display: flex;
		flex-flow: row wrap;
		color: @colors;
		font-size: 1.8rem;

		
		
		.top {
			padding: 3%;
			margin: 2% auto;
			height: 60rem;
			background: @grays;
			.flex-justify();
			flex-flow: column nowrap;

			

			h1 {
				font-size: 4rem;
				padding-top: 2%;
			}

			h2 {
				font-size: 1.8rem;
				padding: 2% 0;
				border-bottom: solid @colors 1px;
			}

			p {
				font-size: 1.5rem;
				margin-top: 2%;
			}

			a {
				text-decoration: none;
				color: @colors;
				/*font-size: 1.8rem;*/
				border: 1px darkgray solid;
				border-radius: 7px;
				background: darkgray;
				width: 15%;
				line-height: 2;
				text-align: center;
				margin: 3% 0;

				@media (max-width: 500px) {
					width: 45%;
					align-self: center;
					margin-top: 4%;
				}
			}
		}

		.middle {
			/*width: 48%;*/
			.flex-justify();
			flex-flow: row nowrap;
			padding-bottom: 5%;
			font-size: 1.5rem;

			@media (max-width: 500px) {
				.col-nowrap();
			}

			.listen {
				width: 47%;
				.flex-justify();
				flex-flow: column nowrap;

				@media (max-width: 500px) {
					width: 100%;
					margin: 2% auto;
				}
			}

			h1 {
				font-size: 2.5rem;
				padding-bottom: 2%;
			}

			.stuff {
				width: 47%;

				p {
					border: 1px @colors solid;
					margin: 0;
					line-height: 2;
					vertical-align: center;
					padding: 1%;
				}

				@media (max-width: 500px) {
					width: 100%;
					margin: 2% auto;
				}
			}
		}

		.bottom {
			font-size: 1.5rem;
			width: 100%;
			display: flex;
			flex-flow: column wrap;
			line-height: 2;
			
			.row {
				.flex-justify();
				flex-flow: row nowrap;
				width: 100%;
				border-bottom: 1px gray solid;
				padding: 1%;
				
			}
		

			.two {
				background: @grays;
			}
			
			.four {
				background: @grays;
			}
		}

		h1 	{
		font-size: 2.5rem;
		padding-bottom: 2%;
		}

		.about {
			width: 100%;
			padding: 2% 12.5%;
			display: flex;
			flex-flow: column nowrap;
			border: 1px darkblue solid;
			margin: 0 auto;
		}

	} /* body*/
	
	footer {
		background-color: darkgray;
		width: 100%;
		line-height: 4;
		text-align: center;
		margin: 4% auto;
	}
}
